@media screen and (max-width:1325px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 54px;
        height: 179px;
    }

    .nav-left {
        flex-direction: column;

    }
    form{
        display: flex;
    flex-direction: column;
    }
    form input{
        margin: 9px;
    }
    .form-fill div{
        margin: 5px;
    }
    
    
    .nav-left span {
        text-align: center;
        font-size: 23px;
    }

    .nav-left ul li {
        list-style: none;
        margin: 4px 14px;
        font-family: var(--font2);
    }

    .nav-left ul {
        flex-direction: column;
    }
    .year-box{
        display: none;
    }
    .content {
        height: auto;
    }

    .content-left {
        width: 100%;
    }

    .content-left h1 {
        text-align: center;
    }

    .content-right {
        display: none;

    }
    .home-article {
      
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-article-img {
        width: 64vw;
    }
}